<div class="w-screen h-screen relative">
  <img src="../../assets/bg_home.jpeg" class="w-full h-full" alt="" />
  <div class="absolute top-0 left-0 bg-black bg-opacity-50 h-full w-full"></div>
  <div
    class="absolute overflow-hidden top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 px-20 py-10 bg-slate-900 text-white flex flex-col gap-6 justify-center items-center rounded-md"
  >
    <!-- <div class="mt-4 grid grid-cols-2 gap-2 items-center">
      <label>Email Address</label>
      <input
        #email
        type="text"
        placeholder="Enter email address"
        class="w-64 h-10 p-3 rounded-md font-light text-black"
      />
    </div>
    <div class="grid grid-cols-2 gap-2 items-center">
      <label>Password</label>
      <input
        #password
        type="password"
        placeholder="Enter password"
        class="w-64 h-10 p-3 rounded-md font-light text-black"
      />
    </div> -->
    <img class="w-28" src="../../assets/logo_library.svg" />
    <h1 class="mt-6 text-2xl font-bold">Hey Surfer!</h1>
    <h1 class="text-2xl font-bold">Welcome back to Surfboard library</h1>
    <div class="my-4 relative">
      <!-- <button
        class="flex justify-center items-center gap-2 px-10 py-2 bg-blue-900 rounded-md text-white cursor-pointer transition-all duration-75 hover:translate-y-px"
      >
        <p>Login</p> -->
      <!-- <img src="../../assets/Sign In_.svg" class="right-4 w-4" alt="" /> -->
      <!-- </button> -->
      <!-- <div
        id="g_id_onload"
        data-client_id="1062987206467-rs3f2p347c36t21k1a9rmvfjfb7qoahd.apps.googleusercontent.com"
        data-callback="handleCredentialResponse"
        data-context="signin"
        data-ux_mode="popup"
        data-login_uri=""
        data-itp_support="true"
      ></div>

      <div
        class="g_id_signin"
        data-type="standard"
        data-shape="pill"
        data-theme="outline"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="center"
        data-width="300"
      ></div> -->
      <button
        (click)="isLoggedIn()"
        class="flex justify-center items-center gap-2 px-10 py-2 bg-blue-900 rounded-md text-white cursor-pointer transition-all duration-75 hover:translate-y-px"
      >
        <p>Sign in with Google</p>
        <img src="../../assets/google icon.svg" alt="" />
      </button>
    </div>

    <div class="ocean">
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
  </div>
</div>
