<div class="w-screen h-screen relative">
  <img src="../../assets/bg_home.jpeg" class="w-full h-full" alt="" />
  <div class="absolute top-0 left-0 bg-black bg-opacity-50 h-full w-full"></div>
  <div
    class="absolute overflow-hidden top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 px-20 py-10 bg-slate-900 text-white flex flex-col gap-6 justify-center items-center rounded-md"
  >
    <img class="w-28" src="../../assets/logo_library.svg" />
    <h1 class="mt-6 text-2xl font-bold">Hey Surfer!</h1>
    <h1 class="text-2xl font-bold">Welcome back to library</h1>
    <div class="my-4 relative">
      <button
        (click)="signInWithGoogle()"
        class="flex justify-center items-center gap-2 px-10 py-2 bg-blue-900 rounded-md text-white cursor-pointer transition-all duration-75 hover:translate-y-px"
      >
        <p>Sign in with Google</p>
        <img src="../../assets/google icon.svg" alt="" />
      </button>
    </div>

    <div class="ocean">
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
  </div>
</div>
