.add-button {
  background-color: #17b794;
}
select {
  appearance: none;
  background: url(../../assets/add_drop.svg) white 96% 55% / 14px no-repeat;
  color: rgb(0, 0, 0);
}

.border_blue {
  border-color: #17b794;
}

input {
  color: black;
  border: none;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
select:focus,
input:focus {
  outline: none;
}

// closebtn

.item-1 {
  height: 50px;
  .inner {
    display: block;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    &:before {
      content: "";
      position: absolute;
      height: 4px;
      width: 25px;
      background-color: rgb(167, 15, 15);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      transition: ease-out 0.2s all;
    }
    &:after {
      content: "";
      position: absolute;
      height: 4px;
      width: 25px;
      background-color: rgb(207, 44, 44);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: ease-out 0.2s all;
    }
  }
  .label {
    color: rgb(213, 31, 31);
    opacity: 0;
    transition: linear 0.3s all;
  }
  &:hover,
  &:focus {
    .inner {
      &:before {
        transform: translate(-50%, 0%) rotate(0);
        top: 25%;
        width: 40px;
      }
      &:after {
        transform: translate(-50%, 0%) rotate(0);
        top: 76%;
        width: 40px;
      }
    }
    .label {
      opacity: 1;
      margin-top: 2px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .item-1 {
    height: 43px;
    .inner {
      &:before {
        width: 20px;
      }
      &:after {
        width: 20px;
      }
    }
    &:hover,
    &:focus {
      .inner {
        &:after {
          width: 33px;
          top: 72%;
        }
        &:before {
          width: 33px;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .user_container {
    margin-top: 3rem;
  }
}
