select {
  appearance: none;
  background: url(../../assets/dropdown.svg) #d7d7d7 98.7% 55% / 2rem no-repeat;
  color: rgb(4, 6, 34);
  filter: grayscale(1);
}

input {
  background-color: #d7d7d7;
}

input::placeholder {
  color: rgb(4, 6, 34);
}

.dark_theme_bg {
  background: linear-gradient(180deg, rgba(5, 4, 47, 1) 0%, rgb(6, 5, 62) 100%);
}

.library_container {
  background: rgba(5, 4, 47, 1);
}

// closebtn

.item-1 {
  height: 50px;
  .inner {
    display: block;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    &:before {
      content: "";
      position: absolute;
      height: 4px;
      width: 25px;
      background-color: rgb(167, 15, 15);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      transition: ease-out 0.2s all;
    }
    &:after {
      content: "";
      position: absolute;
      height: 4px;
      width: 25px;
      background-color: rgb(207, 44, 44);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: ease-out 0.2s all;
    }
  }
  .label {
    color: rgb(213, 31, 31);
    opacity: 0;
    transition: linear 0.3s all;
  }
  &:hover,
  &:focus {
    .inner {
      &:before {
        transform: translate(-50%, 0%) rotate(0);
        top: 25%;
        width: 40px;
      }
      &:after {
        transform: translate(-50%, 0%) rotate(0);
        top: 76%;
        width: 40px;
      }
    }
    .label {
      opacity: 1;
      margin-top: 2px;
    }
  }
}

@media only screen and (max-width: 1240px) {
  .book-container {
    width: 25%;
  }
}

@media only screen and (max-width: 1000px) {
  .item-1 {
    height: 43px;

    &:hover,
    &:focus {
      .inner {
        &:after {
          width: 33px;
          top: 72%;
        }
        &:before {
          width: 33px;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .library_container {
    padding-top: 3rem;
    background: rgba(5, 4, 47, 1);
  }
  .dark_theme_bg {
    background: linear-gradient(
      180deg,
      rgba(4, 14, 76, 1) 0%,
      rgba(4, 14, 76, 1) 100%
    );
  }
}

@media only screen and (max-width: 800px) {
  .book_img {
    width: 8.5rem;
    height: 13rem;
  }
}

@media only screen and (max-width: 600px) {
  .item-1 {
    .inner {
      &:before {
        width: 18px;
      }
      &:after {
        width: 18px;
      }
    }
    &:hover,
    &:focus {
      .inner {
        &:after {
          width: 30px;
          top: 70%;
        }
        &:before {
          width: 30px;
          top: 28%;
        }
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  .item-1 {
    &:hover,
    &:focus {
      .inner {
        &:after {
          width: 27px;
          top: 67%;
        }
        &:before {
          width: 27px;
          top: 28%;
        }
      }
    }
  }
  .book_img {
    width: 6.5rem;
    height: 11rem;
  }
}

@media only screen and (max-width: 540px) {
  .item-1 {
    &:hover,
    &:focus {
      .inner {
        &:after {
          width: 25px;
          top: 68%;
        }
        &:before {
          width: 25px;
          top: 28%;
        }
      }
    }
  }
  .book_img {
    width: 14rem;
    height: 20rem;
  }

  .book-container {
    width: 50%;
    margin-top: 4rem;
  }
  .book-container p {
    transform: scale(1.6);
    line-height: 10px;
    width: 70%;
    margin-top: 2rem;
    z-index: 0;
  }
  .search_input_container {
    width: 100%;
    height: 32px;
    font-size: 10px;
  }
  .search_img_container {
    transform: scale(1.6);
    margin-top: -1rem;
    margin-right: 0.7rem;
  }
  .select_container {
    width: 75%;
    height: 32px;
    font-size: 10px;
  }
  .sort_container {
    font-size: 12px;
  }
  .sort_container img {
    width: 0.8rem;
  }
  select {
    background: url(../../assets/dropdown.svg) #d7d7d7 98.7% 55% / 3rem
      no-repeat !important ;
  }
}

@media only screen and (max-width: 500px) {
  .item-1 {
    .inner {
      &:after {
        height: 3px;
      }
      &:before {
        height: 3px;
      }
    }
    &:hover,
    &:focus {
      .inner {
        &:after {
          width: 22px;
          top: 65%;
        }
        &:before {
          width: 22px;
          top: 34%;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .item-1 {
    &:hover,
    &:focus {
      .inner {
        &:after {
          width: 21px;
          top: 63%;
        }
        &:before {
          width: 21px;
          top: 37%;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .item-1 {
    &:hover,
    &:focus {
      .inner {
        &:after {
          width: 20px;
          top: 63%;
        }
        &:before {
          width: 20px;
          top: 36%;
        }
      }
    }
  }
}
