<div class="relative h-full overflow-scroll">
  <div class="px-10 h-full overflow-scroll">
    <div
      class="flex flex-col gap-10 pb-10 sticky top-0 pt-32 z-20"
      style="background: rgb(13 13 14)"
    >
      <div class="flex w-full justify-between">
        <div class="relative w-2/4 h-10 search_input_container">
          <input
            [(ngModel)]="searchText"
            class="w-full h-full rounded-full pl-4 font-extralight"
            type="text"
            placeholder=" Search by book name or author..."
          />
          <div
            class="absolute right-1 cursor-pointer top-1/2 -translate-y-1/2 rounded-full p-2 dark_theme search_img_container"
          >
            <img src="../../../assets/Search_.svg" class="w-4" />
          </div>
        </div>
      </div>
      <div class="relative flex gap-8">
        <select
          class="w-1/4 h-10 rounded-full pl-4 cursor-pointer font-extralight select_container"
          (change)="filterByGenre($event.target)"
        >
          <option value="" selected>Select genre</option>
          <option value="Biography">Biography</option>
          <option value="Auto-Biography">Auto-Biography</option>
          <option value="Fiction">Fiction</option>
          <option value="Non-Fiction">Non-Fiction</option>
          <option value="Education">Education</option>
          <option value="Self help">Self help</option>
        </select>

        <div
          class="flex gap-2 items-center whitespace-nowrap font-light text-gray-300 sort_container"
        >
          Sort by name
          <img
            class="w-2 cursor-pointer"
            (click)="sortBooks()"
            src="../../../assets/sort_icon.svg"
          />
        </div>
      </div>
    </div>
    <div class="overflow-y-scroll pb-6">
      <ng-container *ngIf="books | async as bookItems">
        <ng-container
          *ngFor="
            let item of bookItems
              | searchFilter : searchText : 'bookName' : 'authorName';
            let i = index
          "
        >
          <div
            class="mt-6 flex-col w-1/5 items-center gap-2 inline-flex transition-all duration-500 delay-500 book-container"
            (click)="onSelect($event, item, i)"
          >
            <img
              class="w-40 h-64 cursor-pointer rounded-md book_img"
              src="{{ item?.imageUrl }}"
            />
            <div class="flex flex-col justify-center items-center text-gray-50">
              <p class="text-lg text-center cursor-pointer">
                {{ item?.bookName }}
              </p>
              <p class="text-sm text-gray-500 text-center cursor-pointer">
                {{ item?.authorName }}
              </p>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="emptyState" #emptyState>
        <div
          class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 mt-16"
        >
          <img class="w-96" src="../../assets/no_result.png" alt="" />
        </div>
      </ng-container>
    </div>
  </div>

  <ng-container *ngIf="bookView">
    <div
      class="w-5/6 h-auto absolute top-1/2 left-1/2 dark_theme -translate-x-1/2 -translate-y-1/2 z-50 rounded-lg drop-shadow-2xl"
    >
      <app-view-book
        [receiver]="selectedReceiver"
        [allBooks]="bookList"
      ></app-view-book>

      <div class="absolute top-4 right-6">
        <button class="item-1" (click)="close()">
          <span class="inner">
            <span class="label">Close</span>
          </span>
        </button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="bookView">
    <div
      class="h-full w-full absolute top-0 left-0 bg-gray-600 bg-opacity-50 z-20 backdrop-blur-sm"
      (click)="close()"
    ></div>
  </ng-container>
</div>
