<div class="h-full w-full relative">
  <div class="overflow-hidden">
    <div class="px-10 mt-28 add_form_container">
      <p class="text-white text-2xl">Complete the form to remove book</p>
      <p class="text-gray-500 text-sm mt-4">
        Fill in each details to remove book from the library
      </p>

      <!-- label fields -->

      <div class="mt-10 border-t-2 border-b-2 border-style h-full">
        <div class="flex justify-start">
          <div
            class="border-r-2 border-style h-full flex flex-col items-end whitespace-nowrap"
          >
            <!-- bookName -->

            <div
              class="pl-20 mr-9 gap-10 mt-14 relative icon_info"
              style="
                display: grid;
                grid-template-columns: 1fr 2fr;
                justify-items: right;
                align-items: center;
              "
            >
              <label class="text-white">
                <p class="text-right">Book name</p>
                <p class="text-sm text-gray-500 text-right">*Browse and type</p>
              </label>
              <div
                class="p-3 rounded-full track_line"
                [ngClass]="
                  stepTwo || stepThree || stepFour || stepFive
                    ? 'before:bg-green-pallete green'
                    : 'before:bg-gray-500 bg-gray-400 before:bg-opacity-40 bg-opacity-30'
                "
              >
                <img
                  class="w-4 h-4 max-w-fit"
                  src="../../assets/book_name.svg"
                  alt=""
                />
              </div>
            </div>

            <!-- authorName  -->

            <div
              class="pl-20 mr-9 gap-10 mt-14 relative icon_info"
              style="
                display: grid;
                grid-template-columns: 1fr 2fr;
                justify-items: right;
                align-items: center;
              "
            >
              <label class="text-white">
                <p class="text-right">Author name</p>
                <p class="text-sm text-gray-500 text-right">*Browse and type</p>
              </label>
              <div
                class="p-3 rounded-full track_line"
                [ngClass]="
                  stepThree || stepFour || stepFive
                    ? 'before:bg-green-pallete green'
                    : 'before:bg-gray-500 bg-gray-400 before:bg-opacity-40 bg-opacity-30'
                "
              >
                <img
                  class="w-4 h-4 max-w-fit"
                  src="../../assets/author_name.svg"
                  alt=""
                />
              </div>
            </div>

            <!-- Reason for removing  -->

            <div
              class="pl-20 mr-9 gap-10 my-14 relative icon_info"
              style="
                display: grid;
                grid-template-columns: 1fr 2fr;
                justify-items: right;
                align-items: center;
              "
            >
              <label class="text-white">
                <p class="text-right">Reason</p>
                <p class="text-sm text-gray-500 text-right">
                  *Enter the reason
                </p>
              </label>
              <div
                class="p-3 rounded-full"
                [ngClass]="
                  stepFour || stepFive
                    ? 'before:bg-green-pallete green'
                    : 'before:bg-gray-500 bg-gray-400 before:bg-opacity-40 bg-opacity-30'
                "
              >
                <img
                  class="w-4 h-4 max-w-fit"
                  src="../../assets/reason.svg"
                  alt=""
                />
              </div>
            </div>

            <!-- Description  -->

            <!-- <div
              class="pl-20 mr-9 gap-10 mt-14 relative icon_info"
              style="
                display: grid;
                grid-template-columns: 1fr 2fr;
                justify-items: right;
                align-items: center;
              "
            >
              <label class="text-white">
                <p class="text-right">Book Id</p>
                <p class="text-sm text-gray-500 text-right">
                  *Enter the Book Id
                </p>
              </label>
              <div
                class="p-3 rounded-full track_line"
                [ngClass]="
                  stepFive
                    ? 'before:bg-green-pallete green'
                    : 'before:bg-gray-500 bg-gray-400 before:bg-opacity-40 bg-opacity-30'
                "
              >
                <img
                  class="w-4 h-4 max-w-fit"
                  src="../../assets/Info.svg"
                  alt=""
                />
              </div>
            </div> -->

            <!-- bookGenre  -->
            <!-- <div
              class="pl-20 mr-9 gap-10 my-14 relative icon_info"
              style="
                display: grid;
                grid-template-columns: 1fr 2fr;
                justify-items: right;
                align-items: center;
              "
            >
              <label class="text-white">
                <p class="text-right">Book Genre</p>
                <p class="text-sm text-gray-500 text-right">
                  *Browse and select
                </p>
              </label>
              <div
                class="p-3 rounded-full"
                [ngClass]="
                  genreValue !== '' && stepFive
                    ? 'green'
                    : 'bg-gray-400  bg-opacity-30'
                "
              >
                <img
                  class="w-4 h-4 max-w-fit"
                  src="../../assets/book_genre.svg"
                  alt=""
                />
              </div>
            </div> -->
          </div>

          <!-- input fields /////////////////////////////////////////////////////// -->

          <!-- bookName -->

          <div
            [formGroup]="addBookForm"
            (keydown.enter)="$event.preventDefault()"
            *ngIf="stepOne"
            class="text-white pl-20 mt-14 w-full form_container"
          >
            <p class="text-2xl text-left enter_book">
              Enter exact name of the book
            </p>
            <p class="text-sm text-gray-500 enter_book_hint">
              *If you are not sure about the book name, please browse and type
            </p>
            <input
              class="mt-6 w-full h-10 rounded-md text-black pl-2"
              type="text"
              #bookName
              maxlength="80"
              formControlName="bookName"
              placeholder="Enter book name"
            />
            <p class="mt-2 flex justify-end w-full pr-2 text-sm text-gray-400">
              {{ bookName.value.length }}/80
            </p>
            <div class="flex justify-end mt-6 w-full">
              <button
                class="px-6 py-2 rounded-full inline-block cursor-pointer transition-all"
                (click)="stepOneBtn()"
                [ngClass]="
                  !addBookForm.valid
                    ? 'bg-gray-500 cursor-not-allowed'
                    : 'green hover:bg-green-500'
                "
                [disabled]="!addBookForm.valid"
              >
                Next
              </button>
            </div>
          </div>

          <!-- authorName  -->

          <div
            [formGroup]="addAuthorForm"
            (keydown.enter)="$event.preventDefault()"
            *ngIf="stepTwo"
            class="text-white pl-20 mt-14 w-full form_container"
          >
            <p class="text-2xl text-left enter_book">
              Enter exact name of the book's author
            </p>
            <p class="text-sm text-gray-500 enter_book_hint">
              *If you are not sure about the author name, please browse and type
            </p>
            <input
              class="mt-6 w-full h-10 rounded-md text-black pl-2"
              type="text"
              #authorName
              maxlength="50"
              formControlName="authorName"
              placeholder="Enter author name"
            />
            <p class="mt-2 flex justify-end w-full pr-2 text-sm text-gray-400">
              {{ authorName.value.length }}/50
            </p>
            <div class="flex justify-end gap-8 mt-6 w-full">
              <button
                (click)="backBtnOne()"
                class="text-gray-400 font-bold hover:text-gray-300 transition-all"
              >
                Back
              </button>
              <button
                class="px-6 py-2 rounded-full inline-block cursor-pointer transition-all"
                (click)="stepTwoBtn()"
                [ngClass]="
                  !addAuthorForm.valid
                    ? 'bg-gray-500 cursor-not-allowed'
                    : 'green hover:bg-green-500'
                "
                [disabled]="!addAuthorForm.valid"
              >
                Next
              </button>
            </div>
          </div>

          <!-- Reason for removing -->

          <div
            [formGroup]="removeReasonForm"
            (keydown.enter)="$event.preventDefault()"
            *ngIf="stepThree"
            class="text-white pl-20 mt-14 w-full form_container"
          >
            <p class="text-2xl text-left enter_book">
              Enter reason for removing the book from library
            </p>
            <p class="text-sm text-gray-500 enter_book_hint">
              *Describe the reason why are you removing this book.
            </p>
            <input
              class="mt-6 w-full h-10 rounded-md text-black pl-2"
              type="text"
              #reason
              maxlength="100"
              formControlName="reason"
              placeholder="Enter the reason"
            />
            <p class="mt-2 flex justify-end w-full pr-2 text-sm text-gray-400">
              {{ reason.value.length }}/100
            </p>
            <div class="flex justify-end gap-8 mt-6 w-full">
              <button
                (click)="backBtnTwo()"
                class="text-gray-400 font-bold hover:text-gray-300 transition-all"
              >
                Back
              </button>
              <button
                class="px-6 py-2 rounded-full inline-block cursor-pointer transition-all"
                (click)="submitBtn()"
                [disabled]="!removeReasonForm.valid"
                [ngClass]="
                  !removeReasonForm.valid
                    ? 'bg-gray-500 cursor-not-allowed'
                    : 'green hover:bg-green-500'
                "
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
