.dark_theme {
  background: linear-gradient(180deg, rgba(5, 4, 47, 1) 0%, rgb(6, 5, 62) 100%);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.32);
}

.track_line::before {
  content: "";
  height: 3.75rem;
  width: 3px;
  position: absolute;
  top: 2.63rem;
  right: 1.08rem;
}

.green {
  background-color: #17b794;
}

select {
  appearance: none;
  background: url(../../assets/add_drop.svg) #ffffff 98.7% 55% / 1rem no-repeat;
}

input::placeholder {
  font-weight: 300;
}

textarea:focus {
  outline: none;
}

.border-style {
  border-color: rgba(135, 135, 135, 0.414);
}

.description_area {
  min-height: 16rem;
  letter-spacing: 0.5px;
}

@media only screen and (max-width: 1350px) {
  .upload_success {
    padding: 1rem;
  }
}

@media only screen and (max-width: 1300px) {
  .uploaded_image_container {
    flex-direction: column;
    gap: 2rem;
  }
  .uploaded_img {
    width: 10rem;
  }
  .upload_success {
    flex-direction: row;
    width: 100%;
  }
  .upload_success img {
    display: none;
  }
  .upload_success .text-center {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .add_form_container {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 770px) {
  .description_area {
    min-height: 15rem;
  }
}

@media only screen and (max-width: 730px) {
  .upload_success p {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 660px) {
  .form_container {
    padding-left: 20px;
  }
  .icon_info {
    padding-left: 2rem;
  }
}

@media only screen and (max-width: 540px) {
  .add_book_container {
    flex-direction: column;
  }
  .header_container {
    flex-direction: row;
    overflow: scroll;
    padding-bottom: 2rem;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    border-left-width: 2px;
  }
  .header_container div:last-child {
    margin-bottom: 0;
  }
  .track_line::before {
    display: none;
  }
  .form_container {
    padding: 20px;
    border-left-width: 2px;
    border-color: rgba(135, 135, 135, 0.414);
    border-right-width: 2px;
    margin-top: 0;
  }
  .drop_area {
    height: 30rem;
  }
  .uploaded_img {
    width: 13rem;
  }
  .container {
    margin-top: 6rem;
  }
  .text-2xl {
    font-size: 2rem;
  }
  .text-sm {
    font-size: 1.2rem;
    line-height: 2.25rem;
  }
  .text-one {
    font-size: 1.3rem;
  }
  input,
  select {
    height: 4rem;
    font-size: 1.3rem;
  }
  button {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .enter_book {
    font-size: 1.23rem;
  }
  .enter_book_hint {
    font-size: 8px;
  }
  .upload_success {
    padding: 0.5rem;
  }
}
