.profile_pic {
  border-color: rgb(13 13 14);
}

.profile_name {
  background-color: #17b794;
}

.border-l {
  border-color: #a7a7a736;
}
.border-style {
  border-color: rgba(135, 135, 135, 0.414);
}

.nav_bar {
  width: 20%;
}

@media only screen and (max-width: 900px) {
  .nav_bar {
    width: 100% !important;
    height: auto;
    border-bottom: 1px solid rgba(115, 115, 115, 0.238);
  }

  .main_container {
    flex-direction: column;
  }
  .collapse_nav {
    display: none;
  }
  .border-style {
    border-color: rgba(135, 135, 135, 0);
  }
  .profile_picture_div {
    top: 10rem;
  }
}

@media only screen and (max-width: 540px) {
  .profile_name {
    font-size: 13px;
    padding-left: 2rem;
    padding-right: 4rem;
  }
  .profile_pic {
    width: 4rem;
  }
  .profile_picture_div {
    top: 10rem;
    right: 2rem;
  }
  .profile_box {
    width: 62vw;
    top: 6rem;
  }
}
