.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.menu_container {
  position: absolute;
  right: 2rem;
  display: none;
}

.toggle {
  position: relative;
  width: 28px;
  height: 25px;
  // background: rgba(255, 255, 255, 0.247);

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.toggle span {
  position: absolute;
  width: 15px;
  height: 3px;
  border-radius: 4px;
  left: 6px;

  background: rgb(226, 226, 226);
  transition: 0.5s;
}

.toggle span:nth-child(2) {
  transform: translateY(-6px);
  width: 10px;
  left: 6px;
}

.toggle span:nth-child(3) {
  transform: translateY(6px);
  width: 8px;
  left: 6.5px;
}

.toggle.activeMenu span:nth-child(1) {
  transform: translateX(60px);
}

.toggle.activeMenu span:nth-child(2) {
  width: 15px;
  transform: translateX(0) rotate(45deg);
  transition-delay: 0.2s;
}

.toggle.activeMenu span:nth-child(3) {
  width: 15px;
  transform: translateX(0) rotate(-45deg);
  transition-delay: 0.4s;
}

@media only screen and (max-width: 900px) {
  .nav_items {
    flex-direction: row;
    margin-left: 2rem;
    justify-content: start;
    margin-right: 2rem;
  }
  .sidebar_content {
    flex-direction: row;
    position: sticky;
    top: 0;
  }
  .sidebar_logo_container {
    justify-content: start;
    padding-left: 15px;
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
    width: auto;
  }
  .sidebar_logo_container p {
    display: none;
  }
  .logo-ic {
    width: 6rem !important;
  }
  .icon_text {
    margin-left: 0px;
    margin-right: 0px;
  }
  a {
    border-radius: 4px;
  }
}
@media only screen and (max-width: 650px) {
  .icons {
    display: none;
  }
}

@media only screen and (max-width: 510px) {
  .icons {
    display: block;
  }
  .menu_container {
    display: block;
    z-index: 99999;
  }
  .nav_items {
    display: none;
  }
  .nav_items.activeOne {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -2rem;
    width: 60%;
    height: 100vh;
    overflow: hidden;
    z-index: 9 !important;
    padding: 2rem 0;
    background: linear-gradient(
      180deg,
      rgb(15, 15, 15) 0%,
      rgb(19, 19, 21) 100%
    );
    color: black !important;
  }
  .nav_items a {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    width: 100%;
    padding-left: 20%;
    border-radius: 0;
  }

  .nav_items a img {
    width: 5rem;
    height: 1.6rem;
  }

  .nav_items a:nth-child(1) {
    margin-top: 90%;
  }
}
