.similar_books::-webkit-scrollbar {
  display: none;
}

.alert_box {
  text-align: center;
}

// closebtn

.item-1 {
  height: 50px;
  .inner {
    display: block;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    &:before {
      content: "";
      position: absolute;
      height: 4px;
      width: 24px;
      background-color: rgb(167, 15, 15);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      transition: ease-out 0.2s all;
    }
    &:after {
      content: "";
      position: absolute;
      height: 4px;
      width: 24px;
      background-color: rgb(207, 44, 44);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: ease-out 0.2s all;
    }
  }
  .label {
    color: rgb(213, 31, 31);
    opacity: 0;
    transition: linear 0.3s all;
  }
  &:hover,
  &:focus {
    .inner {
      &:before {
        transform: translate(-50%, 0%) rotate(0);
        top: 25%;
        width: 100%;
      }
      &:after {
        transform: translate(-50%, 0%) rotate(0);
        top: 76%;
        width: 100%;
      }
    }
    .label {
      opacity: 1;
      margin-top: 2px;
    }
  }
}

@media only screen and (max-width: 1250px) {
  .author_book {
    width: 70%;
  }
}

@media only screen and (max-width: 1000px) {
  .item-1 {
    height: 43px;
    &:hover,
    &:focus {
      .inner {
        &:after {
          top: 72%;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .book_img {
    width: 8.5rem;
    height: 13rem;
  }
}

@media only screen and (max-width: 630px) {
  .alert_box {
    width: 55%;
  }
}

@media only screen and (max-width: 600px) {
  .author_book {
    width: 80%;
  }
  .item-1 {
    // height: 43px;
    .inner {
      &:before {
        width: 18px;
      }
      &:after {
        width: 18px;
      }
    }
    &:hover,
    &:focus {
      .inner {
        &:after {
          width: 30px;
          top: 70%;
        }
        &:before {
          width: 30px;
          top: 28%;
        }
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  .item-1 {
    &:hover,
    &:focus {
      .inner {
        &:after {
          width: 27px;
          top: 67%;
        }
        &:before {
          width: 27px;
          top: 28%;
        }
      }
    }
  }
  .book_img {
    width: 6.5rem;
    height: 9rem;
  }
}

@media only screen and (max-width: 540px) {
  .item-1 {
    &:hover,
    &:focus {
      .inner {
        &:after {
          width: 25px;
          top: 68%;
        }
        &:before {
          width: 25px;
          top: 28%;
        }
      }
    }
  }
  .selected_book_img_container {
    flex-direction: column;
  }
  .text-one {
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  .text-two {
    font-size: 14px;
    text-align: center;
  }
  .text-three,
  .text-four {
    font-size: 10px;
    text-align: center;
  }
  .text-five-container {
    display: flex;
    justify-content: center;
  }
  .text-five {
    font-size: 7px;
  }
  .text-six-a {
    font-size: 12px;
    text-align: center;
  }
  .text-six-b {
    font-size: 7px;
    width: 100%;
  }
  .text-seven {
    font-size: 14px;
  }
  .text-eight {
    font-size: 10px;
  }
  .author_book_image {
    width: 20rem;
  }
  .text-nine {
    font-size: 16px;
  }
  .text-ten {
    font-size: 10px;
  }
  .button-container div {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .selected_book_img {
    width: 14rem;
  }
  .book_img {
    width: 10.5rem;
    height: 15rem;
  }
  .alert_box {
    width: 75%;
  }
  .alert_box button {
    font-size: 1.5rem;
  }
  .confirm_text-one {
    font-size: 1.7rem;
    line-height: 1.3;
  }
  .confirm_text-hint {
    font-size: 1.3rem;
    line-height: 1.3;
  }
  .view_container {
    max-height: 87vh;
    overflow: scroll;
  }
}

@media only screen and (max-width: 500px) {
  .item-1 {
    .inner {
      &:after {
        height: 3px;
      }
      &:before {
        height: 3px;
      }
    }
    &:hover,
    &:focus {
      .inner {
        &:after {
          width: 22px;
          top: 65%;
        }
        &:before {
          width: 22px;
          top: 34%;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .item-1 {
    &:hover,
    &:focus {
      .inner {
        &:after {
          width: 21px;
          top: 63%;
        }
        &:before {
          width: 21px;
          top: 37%;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .item-1 {
    &:hover,
    &:focus {
      .inner {
        &:after {
          width: 20px;
          top: 63%;
        }
        &:before {
          width: 20px;
          top: 36%;
        }
      }
    }
  }
}

@media only screen and (max-width: 380px) {
  .alert_box {
    width: 65%;
  }
}
