@media only screen and (max-width: 540px) {
  .text-one {
    font-size: 2.5rem;
  }
  .text-two {
    font-size: 1.5rem;
  }
  .text-three {
    font-size: 1.2rem;
  }
  .profile_pic {
    width: 10rem;
  }
  button {
    font-size: 1.7rem;
  }
}
