<div class="p-4 px-8 flex gap-6 items-center">
  <div>
    <img
      class="w-32 rounded-full z-50 relative profile_pic"
      src="{{ userInfo.picture }}"
    />
  </div>
  <div class="flex flex-col">
    <p class="text-3xl pb-3 text-one">{{ userInfo.name }}</p>
    <p class="text-1xl text-gray-600 pb-1 text-two">{{ userInfo.email }}</p>
    <p class="text-1xl text-gray-600 text-three">Software Engineer</p>
  </div>
</div>
<div class="flex px-6 py-2 pb-4 w-full">
  <button
    class="px-4 py-2 bg-red-500 rounded-md text-white w-full transition-all cursor-s-resize hover:bg-red-400"
    (click)="logout()"
  >
    Logout
  </button>
</div>
